<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pinterest</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
</head>

<body>

    <main class="container-fluid">
        <div class="card d-flex align-items-center justify-content-center pt-3">
            <img src="/images/pinterest-48.svg" class="card-img-top" alt="logo" style="width: 48px;">
            <div class="card-body text-center w-50">
                <h5 class="card-title">Welcome, #username</h5>
                <p class="card-text ">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut possimus amet labore quod repellendus sapiente soluta! Maiores, minus accusamus numquam labore maxime laudantium ipsa.</p>
            </div>
        </div>
        <section class="board my-2 d-flex flex-wrap gap-3">
            <div class="card w-25 d-flex align-items-center justify-content-center">
                <img src="/images/pinterest-48.svg" style="width: 100px;" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title">Board</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, repellendus!</p>
                </div>
            </div>

            <div class="card w-25 d-flex align-items-center justify-content-center">
                <img src="/images/pinterest-48.svg" style="width: 100px;" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title">Board</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, repellendus!</p>
                </div>
            </div>

            <div class="card w-25 d-flex align-items-center justify-content-center">
                <img src="/images/pinterest-48.svg" style="width: 100px;" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title">Board</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, repellendus!</p>
                </div>
            </div>

            <div class="card w-25 d-flex align-items-center justify-content-center">
                <img src="/images/pinterest-48.svg" style="width: 100px;" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title">Board</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, repellendus!</p>
                </div>
            </div>

            <div class="card w-25 d-flex align-items-center justify-content-center">
                <img src="/images/pinterest-48.svg" style="width: 100px;" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title">Board</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, repellendus!</p>
                </div>
            </div>

            <div class="card w-25 d-flex align-items-center justify-content-center">
                <img src="/images/pinterest-48.svg" style="width: 100px;" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title">Board</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, repellendus!</p>
                </div>
            </div>

            <div class="card w-25 d-flex align-items-center justify-content-center">
                <img src="/images/pinterest-48.svg" style="width: 100px;" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title">Board</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, repellendus!</p>
                </div>
            </div>

            <div class="card w-25 d-flex align-items-center justify-content-center">
                <img src="/images/pinterest-48.svg" style="width: 100px;" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title">Board</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, repellendus!</p>
                </div>
            </div>
        </section>
    </main>

    <script src="/javascripts/bootstrap.bundle.min.js"></script>
</body>

</html>